.dashboard-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
    overflow: auto; /* Allow content to scroll if it exceeds viewport height */
  }
  

  .page-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

.sidebar {
    position: fixed; /* Fix the sidebar position */
    top: 60px; /* Adjust top to account for navbar height */
    left: 0;
    width: 200px; /* Initial width when open */
    height: calc(100vh - 60px); /* Adjust height to account for navbar */
    flex-shrink: 0;
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 0;
    overflow: hidden;
    z-index: 8; /* Ensure the sidebar is behind the navbar but above other content */
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for smooth opening/closing */
  }
  
  .sidebar.closed {
    transform: translateX(-100%); /* Slide the sidebar out to the left */
  }

  .sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    gap: 10px; /* Space between icon and text */
  }
  
  .sidebar-icon {
    font-size: 1.2rem;
    color: #333; /* Adjust as needed */
  }
  
  /* Hide text when sidebar is collapsed (not open) */
  .sidebar.closed .sidebar-item span {
    display: none;
  }
  
  .sidebar-item:hover {
    background-color: #f0f0f0;
  }